<h3>Who's Who</h3>

<table class="table table-light table-bordered text-center mt-4">
    <thead class="thead-light">
        <tr>
            <th>S.no.</th>
            <th>Name</th>
            <th>Designation</th>
            <th>Email Address</th>
            <th>Phone Number</th>
        </tr>    
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>Smt. Smriti Zubin Irani</td>
            <td>Cabinet Minister</td>
            <td>min-wcd@gov.in</td>
            <td>011-23071331, 011-23071332, 011-203071327, 011-23071328, 011-23071329(F)</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Ms. Shah Devanshi Viren</td>
            <td>OSD to Minister</td>
            <td>devanshi.shah@gov.in</td>
            <td>011-23071331, 011-23071332, 011-203071327, 011-23071328, 011-23071329(F)</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Shri Balram kumar</td>
            <td>PS to Minister</td>
            <td>balramkumar@gov.in</td>
            <td>011-23071331, 011-23071332, 011-203071327, 011-23071328, 011-23071329(F)</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>Dr. Munjpara Mahendrabhai</td>
            <td>Minister of State (WCD)</td>
            <td>mahendra.munjpara@sansad.nic.in</td>
            <td>011-23382361, 011-23382363, 011-23387854 (F)</td>
        </tr>
        <tr>
          <td>5.</td>
          <td>Amrutesh K. Aurangabadkar</td>
          <td>PS to MoS (WCD)</td>
          <td>amrutesh.a@ias.nic.in</td>
          <td>011-23382361, 011-23382363, 23387854 (F)</td>
      </tr>
    </tbody>
</table>


