<h4 class="text-uppercase">Legislation</h4>

<table class="table table-light table-bordered text-center mt-2">
    <thead class="thead-light">
        <tr>
            <th>S.no.</th>
            <th>Title</th>
            <th>Details</th>
        </tr>    
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>Compensation Scheme for Women Victims/Survivors of Sexual Assault/other Crimes - 2018</td>
            <td><a href="/assets/policy/first.pdf" download>Download</a></td>
        </tr>
        <tr>
            <td>2.</td>
            <td>National Commission for Women Act</td>
            <td><a href="/assets/policy/second.pdf" download>Download</a></td>
        </tr>
        <tr>
            <td>3.</td>
            <td>The Protection of Children from Sexual Offences Rules, 2020</td>
            <td><a href="/assets/policy/third.pdf" download>Download</a></td>
        </tr>
        <tr>
            <td>4.</td>
            <td>The Protection of Children from Sexual Offences Act, 2012</td>
            <td><a href="/assets/policy/fourth.pdf" download>Download</a></td>
        </tr>
    </tbody>
</table>


<h4 class="text-uppercase">Policy</h4>

<table class="table table-light table-bordered text-center mt-2">
    <thead class="thead-light">
        <tr>
            <th>S.no.</th>
            <th>Title</th>
            <th>Details</th>
        </tr>    
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>Draft National Policy for Women 2016</td>
            <td><a href="/assets/policy/fivth.pdf" download>Download</a></td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Nationl Policy for Children, 2013</td>
            <td><a href="/assets/policy/sixth.pdf" download>Download</a></td>
        </tr>
    </tbody>
</table>
